* {
  box-sizing: border-box;
}
.initial {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 1px solid black;
}
.box {
  box-sizing: border-box;
  border: 1px solid black;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
}
.hover {
  background-color: aqua;
}
button {
  height: 100px;
  width: 300px;
  color: white;
  background-color: black;
}
body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}
